@import "../components/_variables";

.header {
  z-index: 1;
  &__nav-color {
    display: flex;
    flex-direction: column;
    .gradientHover {
      position: relative;
      appearance: none;
      background: transparent;
      cursor: pointer;
      margin: 5px 20px;
      padding: 1em 2em;
      border: none;
      color: white;
      outline: none;
      overflow: hidden;
      border-radius: 100px;
      &::before {
        --size: 0;
        content: "";
        position: absolute;
        left: var(--x);
        top: var(--y);
        width: var(--size);
        height: var(--size);
        background: radial-gradient(circle closest-side, $aqua, transparent);
        transform: translate(-50%, -50%);
        transition: width 0.2s ease, height 0.2s ease;
      }
      &:hover::before {
        --size: 400px;
        background-color: $pink;
      }
      &:hover {
        .header__link {
          color: $colorLight;
        }
      }
    }
    .header__link {
      text-decoration: none;
      color: $colorText;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: bold;
      position: relative;
    }
  }

}
.add-color {
  background-color: white;
}
.hidden {
  display: none;
}
.icon-burguer {
  padding: 10px 50px 5px 0px;
  text-align: end;
}

@media all and (max-width: 1024px) and (min-width: 640px) {
  .header {
    &__nav {
      flex-direction: row;
    }
  }
}
@media all and (min-width: 1024px) {
  .header {
    flex-wrap: nowrap;
    background-color: transparent;
    height: 80px;
    position: absolute;
    #myLinks {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }
    &__nav {
      flex-direction: row;
    }
    &__nav-content {
      box-shadow: none;
    }
  }
  .icon-burguer {
    display: none;
  }
}