@import "../components/_variables";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: $colorLight;
  width: 100%;
  height: auto;
  z-index: 1;
  &__nav-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    font-family: $fontTitle;
    font-size: 14px;
    padding: 20px 0;
    box-shadow: rgba(57, 57, 57, 0.24) 0px 15px 12px 3px;
  }
  &__nav {
    display: flex;
    flex-direction: column;
    .gradientHover {
      position: relative;
      appearance: none;
      background: transparent;
      cursor: pointer;
      margin: 5px 20px;
      padding: 1em 2em;
      border: none;
      color: white;
      outline: none;
      overflow: hidden;
      border-radius: 100px;
      &::before {
        --size: 0;
        content: "";
        position: absolute;
        left: var(--x);
        top: var(--y);
        width: var(--size);
        height: var(--size);
        background: radial-gradient(circle closest-side, $aqua, transparent);
        transform: translate(-50%, -50%);
        transition: width 0.2s ease, height 0.2s ease;
      }
      &:hover::before {
        --size: 400px;
        background-color: $pink;
      }
      &:hover {
        .header__link {
          color: $colorLight;
        }
      }
    }
    .header__link {
      text-decoration: none;
      color: $colorText;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: bold;
      position: relative;
    }
  }
  &__logo {
    // width: 10%;
  }
  &__logo-img {
    height: 40px;
    margin: 10px 20px 5px 40px;
  }
  &__social {
    display: flex;
    align-items: center;
    margin: 15px 30px;
  }
  .fa-github {
    font-size: 24px;
    margin: 0 10px;
    padding: 0 5px;
    color: $colorText;
    transition: all 0.8s;
    &:hover {
      background: -webkit-linear-gradient(
        0deg,
        rgba(0, 200, 200, 1) 0%,
        rgb(255, 6, 160) 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: $aqua;
      transform: scale(1.2);
    }
  }
  .fa-twitter {
    font-size: 24px;
    margin: 0 10px;
    padding: 0 5px;
    color: $colorText;
    transition: all 0.8s;
    &:hover {
      background: -webkit-linear-gradient(
        0deg,
        rgba(0, 200, 200, 1) 0%,
        rgb(255, 6, 160) 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: $aqua;
      transform: scale(1.2);
    }
  }
  .fa-instagram {
    font-size: 24px;
    margin: 0 10px;
    padding: 0 5px;
    color: $colorText;
    transition: all 0.8s;
    &:hover {
      background: -webkit-linear-gradient(
        0deg,
        rgba(0, 200, 200, 1) 0%,
        rgb(255, 6, 160) 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: $aqua;
      transform: scale(1.2);
    }
  }
}
.add-color {
  background-color: white;
}
.hidden {
  display: none;
}
.icon-burguer {
  padding: 10px 50px 5px 0px;
  text-align: end;
}

@media all and (max-width: 1024px) and (min-width: 640px) {
  .header {
    &__nav {
      flex-direction: row;
    }
  }
}
@media all and (min-width: 1024px) {
  .header {
    flex-wrap: nowrap;
    background-color: transparent;
    height: 80px;
    position: absolute;
    #myLinks {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }
    &__nav {
      flex-direction: row;
    }
    &__nav-content {
      box-shadow: none;
    }
  }
  .icon-burguer {
    display: none;
  }
}