.fs-title {
  font-size: 2.6rem;
}
.lottie-line {
display: none;
}
.text-decorative {
          background-image: url('../../img/decorative.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; 
}
.img-header{
    width: 250px;
}
.home-card {
background: linear-gradient(139.36deg, rgba(255, 255, 255, 0.82) 65.6%, rgba(255, 255, 255, 0.3116) 98.1%);
border: 2px solid #FFFFFF;
border-radius: 6px;
max-width: 100%;
p {
  max-width: 300px;
}
}

@media (width >= 768px) {
.lottie-line {
display: block;
width: 355px;
margin-left: 2px;
margin-top: -12px
}
.img-header{
    //transform: translateY(-30px);
}
}

@media (width >= 1200px) {
.img-header{
   width: 350px;
}
} 



