  .menuRSS {
      i {
        transition: all 0.8s;
        &:hover {
          background: -webkit-linear-gradient(
            0deg,
            #76CF9A 0%,
            #9A76CF 100%
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          transform: scale(1.1);
        }
  }
  }
//   .fa-twitter {
//     transition: all 0.8s;
//     &:hover {
//       background: -webkit-linear-gradient(
//         0deg,
//         #76CF9A, 0%,
//         #9A76CF 100%
//       );
//       -webkit-background-clip: text;
//       -webkit-text-fill-color: transparent;
//       transform: scale(1.1);
//     }
//   }
//   .fa-instagram {
//     transition: all 0.8s;
//     &:hover {
//       background: -webkit-linear-gradient(
//         0deg,
//         rgba(0, 200, 200, 1) 0%,
//         rgb(255, 6, 160) 100%
//       );
//       -webkit-background-clip: text;
//       -webkit-text-fill-color: transparent;
//       transform: scale(1.1);
//     }
//   }