@import "../custom.scss";

.nav .nav-link {
  background: transparent;
  cursor: pointer;
  border-radius: 17px;

  &.bg-change-first {
    border: solid 1px map-get($theme-colors, "primary");
    color: map-get($theme-colors, "primary");
  }
  &.bg-change-first:hover {
    background-color: lighten(map-get($theme-colors, "primary-light"), 4%);
    transition: all 0.3s;
  }
  &.bg-change-first.active {
    background-color: map-get($theme-colors, "primary-light");
    font-weight: 600;
  }

  &.bg-change-second {
    border: solid 1px map-get($theme-colors, "secondary");
    color: map-get($theme-colors, "secondary");
  }
  &.bg-change-second:hover {
    background-color: lighten(map-get($theme-colors, "secondary-light"), 6%);
    transition: all 0.3s;
  }
  &.bg-change-second.active {
    background-color: map-get($theme-colors, "secondary-light");
    font-weight: 600;
  }

  &.bg-change-third {
    border: solid 1px map-get($theme-colors, "tertiary");
    color: map-get($theme-colors, "tertiary");
  }
  &.bg-change-third:hover {
    background-color: lighten(map-get($theme-colors, "tertiary-light"), 3%);
    transition: all 0.3s;
  }
  &.bg-change-third.active {
    background-color: map-get($theme-colors, "tertiary-light");
    font-weight: 600;
  }

  &.bg-change-fourth {
    border: solid 1px map-get($theme-colors, "accent");
    color: map-get($theme-colors, "accent");
  }
  &.bg-change-fourth:hover {
    background-color: lighten(map-get($theme-colors, "accent-light"), 4%);
    transition: all 0.3s;
  }
  &.bg-change-fourth.active {
    background-color: map-get($theme-colors, "accent-light");
    font-weight: 600;
  }
}
