  .menuRSS {
      i {
        transition: all 0.8s;
        &:hover {
          background: -webkit-linear-gradient(
            0deg,
            #76CF9A 0%,
            #9A76CF 100%
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          transform: scale(1.1);
        }
  }
  }
