@import 'custom.scss'; /* Personaliza las variables antes de importar Bootstrap */
@import "bootstrap/scss/bootstrap";


  .landing {
    //background: linear-gradient(to bottom, #FCD6DC, #F1D3F4);
    background-image: url('../img/bg-gradient.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    &__bg-dibujo {
        background-image: url('../img/bg-dibu.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; 
        height: 345px;
    }
  }
  
  

