@import 'variables.scss';
/* make the customizations */

// $theme-colors: (
//   'primary': #9A76CF,
//   'secondary': #D575CD,
//   'tertiary': #C9B5FD,
//   'info': #59E1CD,
//   'darkInfo': #46BBAA,
//   'warning': #F0E94E,
//   'darkWarning': #C5BC0E,
//   'text': #1A1A1A,
//   'gray': #2e2a2a,
//   'lightGray': #8d8282
// );
  

$theme-colors: (
  'primary': #9A76CF,
  'primary-light': #DED9FB,
  'secondary': #CD49C2,
  'secondary-light': #FFC1EA,
  'accent': #359184,
  'accent-light': #DCF8E7,
  'tertiary': #B4AC0A,
  'tertiary-light': #FCEED9,
  'black': #1A1A1A,
  'gray': #2e2a2a,
  'lightGray': #8d8282
);
  

.btn-primary {
  color: #ffffff !important;  
}
body {
  color: #1A1A1A !important;
}

.border-top-white {
    border-top: 1.3px solid #ffffff;
}
.border-bottom-primary-light {
    border-bottom: 1.3px solid map-get($theme-colors, 'primary-light');
}
.border-top-primary-light {
    border-top: 1.3px solid map-get($theme-colors, 'primary-light');
}

.h-65 {
  height: 65%;
}

.h-35 {
  height: 35%;
}
@media (width >= 768px) {
.h-md-65 {
  height: 65%;
}

.h-md-35 {
  height: 35%;
}
}


@media (width >= 1200px) {
.h-lg-65 {
  height: 65%;
}

.h-lg-35 {
  height: 35%;
}
} 


/* Para pantallas de portátil en adelante */
@media (width >= 1200px) {
  .container-fluid {
    max-width: 1200px !important; 
    margin-left: auto;
    margin-right: auto;
  }
}
