
$font-caveat: "Caveat", cursive;
$font-karla:  "Karla", sans-serif;
$font-teachers: 'Teachers', sans-serif;
$font-poppins: "Poppins", sans-serif;


h1, h3 {
  font-family: $font-caveat;
  font-weight: 600;
}

h2 {
  font-family: $font-teachers;
  font-weight: 400 !important;
  letter-spacing: 1px;
}

body {
  font-family: $font-teachers!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //color: #1A1A1A !important;
}

// .nav,
// .button,
// .small-text {
//   font-family: $small-text;
// }