
$font-karla:  "Karla", sans-serif;
$font-teachers: 'Teachers', sans-serif;
$font-mono: "Space Mono", monospace;


.font-mono {
    font-family: $font-mono;
    font-weight: 400;
}
h1, h3 {
 font-family: $font-karla;
  font-weight: 600;
}

h2 {
  font-family: $font-karla;
  font-weight: 400 !important;
  letter-spacing: 1px;
}

body {
  font-family: $font-teachers!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //color: #1A1A1A !important;
}
ul li {
  list-style: none;
}

ul {
    padding: 0 !important;
}

// .nav,
// .button,
// .small-text {
//   font-family: $small-text;
// }